body {
  margin: 0;
  background-color: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  margin: 5%;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 5vh;
}

form input {
  outline: none;
  border-style: none none solid none;
  border-color: rgb(28, 30, 35);
  border-width: 1px;
  background-color: rgb(240, 240, 240);
  color: rgb(28, 30, 35);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  padding: 10px;
  width: 25%;
}

form #city {
  text-transform: capitalize;
  margin-right: 1.5em;
}

form #country {
  text-transform: uppercase;
  margin-right: 1.5em;
}

form ::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgb(28, 30, 35);
  opacity: 0.5;
}

form button {
  outline: none;
  border: 1px solid rgb(28, 30, 35);
  font-size: 0.8em;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: rgb(28, 30, 35);
  color: rgb(240, 240, 240);
  width: 8%;
}

form button:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(28, 30, 35);
  border: 1px solid rgb(28, 30, 35);
  cursor: pointer;
}

.weather {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 5%;
}
